<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<form action="/" method="get">
  <p>
    Your Name:
    <input type="text" name="name">
  </p>
  <p>
    Dojo Location:
    <select name="location">
      <option value="Dakar">Dakar</option>
      <option value="San Jose">San Jose</option>
      <option value="Timbuktu">Timbuktu</option>
      <option value="Washington DC">Washingoton DC</option>
      <option value="Dakar">Dakar</option>
      <option value="Seattle">Fiat</option>
      <option value="Tokyo">Tokyo</option>
      <option value="Berkeley">Berkeley</option>
    </select>
  </p>
  <p>
    Favorite Language:
    <select name="language">
      <option value="Ruby on Rails">Ruby on Rails</option>
      <option value="Javascript">Javascript</option>
      <option value="Swift/OSX">Swift/OSX</option>
      <option value="Cobol">Cobol</option>
      <option value="English">English</option>
      <option value="French">French</option>
      <option value="Swahili">Swahili</option>
      <option value="Mandarin">Mandarin</option>
    </select>
  </p>
  <p>
    <textarea name="comment" rows="10" cols="30">

    </textarea>
  </p>
</form>



  <input type="submit" value="show">
</form>
